@media (min-width:768px){

    /*top_logo位置設置*/
    .parent_pc{
        position: relative; /* 父元素需設定 relative */
        width:auto;
        height: 450px;
    }
    .child_pc{
        position: absolute; /* 讓子元素相對於父元素定位 */
        top: 55%;
        left: 53.85%;
        transform: translate(-50%, -50%); /* 讓子元素回推自身寬高的一半 */
        width: 250px;
        height: 400px;   
    }

}

/*設置成版面在大於1400px時,畫面版面固定大小為1320px*/
@media (min-width:1400px){

    .box{
        max-width: 1320px;
        
    }
}
@media (min-width:14600px){

    .box{
        max-width: 1320px;
    }
}