@media (min-width:768px){

    /*about-banner設置*/
    .start-ph-about{

    left: -65px;
    width: 65%;
}
    .start-ph-word{

    left: 820px;
    top:-65px;
}

}

/*設置成版面在大於1400px時,畫面版面固定大小為1320px*/
@media (min-width:1400px){

    .box{
        max-width: 1320px;
        
    }
}
@media (min-width:14600px){

    .box{
        max-width: 1320px;
    }
}