
/*圖片原尺寸*/
img{
    width:100%
}
.img-70{
    width: 50%;
}
/*色彩計畫*/
.text-red{
    color:#904C77;
}
.text-gray{
    color:#957D95;
}
.text-orange{
    color:#FFAD8F;
}
.text-lightora{
    color:#FFD6C0;
}
.text-white{
    color:#EED9CD;
}

.bg-red{
    background-color:hsl(322, 31%, 43%);
}
.bg-red-a{
    background-color:hsla(322, 31%, 43%, 0.7);
}
.bg-gray{
    background-color:#957D95;
}
.bg-gray{
    background-color:#FFD6C0;
}
.bg-orange{
    color:#FFAD8F;
}
.bg-white{
    background-color:#EED9CD;
}

/*按鈕設置*/
btn-red{

    background-color:hsl(322, 31%, 43%) !important;
}
.btn-gray{
    background-color:#FFD6C0;
    color:#957D95 ;
}



/*top-head設計*/

/*logo上方間隔*/
h1{
    font-size: calc(1.35rem + 0.55vw);
}
.top-30{
    top: 30%;
}
.start-01 {
    left: 1 !important;
}

/*nav背景透明設置*/
.navbar-custom {
    background-color: hsla(322, 31%, 43%, 0.7) !important; 
    backdrop-filter: blur(5px); 
}

/*nav連結文字設置重製*/
.navbar-nav .nav-link.active,.nav-link.show,.nav-item,.nav-link{ 
    padding: 0.5rem 1.5rem;
    font-size: 0.85rem;
    font-weight: 900;
    color: #FFD6C0;
    letter-spacing: 2px;
}
/*nav連結文字滑鼠滑過效果*/
.nav-active:hover{
    color: #3d1919 !important;
}
.nav-link:hover{

    color: #3d1919;
}

/*分類按鈕設置*/

.filter-btn li{
    border-radius: none;
    color: #5A0001
}

/*使最後一個按鈕間隔取消*/
.filter-btn li:last-of-type{
   margin-right: 0;
}

/*標籤按鈕滑動設置*/
.dropdown-menu{

    --bs-dropdown-min-width: 7rem;
    font-weight: 400 !important;
    --bs-dropdown-color:#5A0001 !important;
    --bs-dropdown-bg: #FFD6C0;
    --bs-dropdown-border-width: 0;
}

.dropdown-item {
    color: #5A0001;
}

.dropdown-menu[data-bs-popper] {
    top: 70%;
    left: 22px;
}

/*about 欄位設置*/

/*修改banner與main間的間距*/
.py-7 {
    padding-top: 4rem !important;
    padding-bottom: 5rem !important
}

/*about-banner設置*/
.start-pc-about{

    left: -65px;
    width: 65%;
}
.start-pc-word{

    left: 750px;
    top:-15px;
}

/*more-news欄位設置*/

/*拉開與about的間隔*/
.mt-news{

    margin-top: 35rem !important;
}

.text-news{

    color: #5A0001 !important;
}

